.button {
  -fx-background-color: #47b5ff;
  -fx-background-color: linear-gradient(to bottom, #47b5ff, #0666a1);
  -fx-background-radius: 9,8,5,4,3;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #ffffff;
  -fx-font-size: 12px;
}


.button:hover{
	-fx-background-color: linear-gradient(to bottom, #0666a1, #47b5ff );
}

.button:pressed{
	-fx-background-color: #3cb0fd;
}

.text-header{
	-fx-font-size:16pt;
	-fx-font-family:"Segoe UI Semibold";
	-fx-text-fill: black;
	-fx-opacity: 70%;
}

.text-deltaker{
	-fx-font-size:22pt;
	-fx-font-family:"Segoe UI Semibold";
	-fx-text-fill: black;
	-fx-opacity: 70%;
}

.combo-box .list-cell 
{
-fx-background: white;
-fx-background-color: transparent;
-fx-text-fill: -fx-text-base-color;
-fx-padding: 3 0 2 7;
}
.combo-box-popup .list-view 
{
-fx-background-color: white, white;
-fx-background-insets: 0, 1;
-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,60%) , 8, 0.0 , 0 , 0 );
}    
.combo-box-popup .list-view .list-cell 
{
-fx-padding: 4 0 4 5;

/* No alternate highlighting */
-fx-background-color: white;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
-fx-background: -fx-accent;
-fx-background-color: -fx-selection-bar;
-fx-text-fill: -fx-selection-bar-text;
-fx-font-family:"Segoe UI Semibold";
}
.combo-box-popup .list-view .list-cell:filled:hover 
{
-fx-background-color: rgba(255,255,255,60%);
-fx-font-family:"Segoe UI Semibold";
}

.combo-box-base  
{
-fx-background-color: #47b5ff;
-fx-background-radius: 5, 5, 4, 3;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-padding: 0;
}
.combo-box-base:hover
{
-fx-color: -fx-hover-base;
}
