.button {
  -fx-background-color: linear-gradient(to bottom, #47b5ff, #0666a1);
  -fx-background-radius: 9,8,5,4,3;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #ffffff;
  -fx-font-size: 12px;
}


.button:hover{
	-fx-background-color: linear-gradient(to bottom, #0666a1, #47b5ff );
}

.button:pressed{
	-fx-background-color: #3cb0fd;
}

.anchor-pane{
	-fx-background-color: rgba(255,255,255,0.8);
}

.text-header{
	-fx-font-size:16pt;
	-fx-font-family:"Segoe UI Semibold";
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-opacity: 70%;
}

.text-deltaker{
	-fx-font-size:22pt;
	-fx-font-family:"Segoe UI Semibold";
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-opacity: 70%;
}

.time-box .list-cell 
{
-fx-background: white;
-fx-background-color: transparent;
-fx-text-fill: -fx-text-base-color;
-fx-font-family: "Segoe UI Semibold";
-fx-padding: 3 0 2 7;
}
.time-box .list-view 
{
-fx-background-color: white;
-fx-background-insets: 0, 1;
}    
.time-box .list-view .list-cell 
{
-fx-padding: 4 0 4 5;
}
.time-box .list-view .list-cell:filled:hover 
{
-fx-font-family:"Segoe UI Semibold";
-fx-font-weight: bold;
-fx-background-color:rgba(73,171,255,0.8); 
}

.time-box  
{
-fx-background-color: #47b5ff;
-fx-background-radius: 5, 5, 4, 3;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-padding: 0;
}

.time-box:hover{
	-fx-background-color: linear-gradient(to bottom, #0666a1, #47b5ff );
}




